@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5em;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

ol,
ul {
  margin-bottom: 1.5em;
  padding-left: 1.5em;
}

table {
  width: 100%;
  margin-bottom: 1.5em;
  border-spacing: 0;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.5em;
  border: 1px solid #000;
}

table th {
  font-weight: bold;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q::before,
q::after,
blockquote::before,
blockquote::after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body * {
  max-height: 99999em;
  word-break: break-word;
}

p {
  margin-bottom: 1.5em;
}

a:hover {
  text-decoration: none;
}

a:not([class]) {
  color: inherit;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input,
label,
select,
button {
  line-height: inherit;
}

input,
label,
select,
button,
textarea {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font: inherit;
  word-break: normal;
  vertical-align: middle;
  white-space: normal;
  -webkit-appearance: none;
}

button:focus {
  outline: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  display: none;
}

textarea {
  overflow: auto;
  line-height: 1.5;
  white-space: pre-line;
  resize: none;
}

button {
  color: inherit;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  html,
  body {
    width: 1600px;
    margin: 0;
  }

  @page {
    margin: 0;
    size: 11in 14.028in;
  }

  @page :left {
    margin: 0;
  }

  @page :right {
    margin: 0;
  }

  @page :first {
    margin-top: 0;
  }
}

html {
  transition: opacity 0.3s ease;
  opacity: 1;
  line-height: 1;
}

html:not(.is-visible) {
  opacity: 0;
}

body {
  transition: opacity 0.3s ease;
  color: #000;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.hidden {
  display: none;
}

.trans {
  transition: opacity 0.26s ease;
  opacity: 1;
  text-decoration: none;
}

.trans:hover {
  opacity: 0.8;
}

.image-common {
  display: block;
  width: 100%;
}

.object-common {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media print, (min-width: 768px) {
  html {
    font-size: 625%;
  }

  body {
    font-size: 0.14rem;
  }

  .container {
    min-width: 1250px;
  }

  .wrapper {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  .sm {
    display: none !important;
  }
}

@media only screen and (max-width: 767.98px) {
  html {
    min-height: 100vh;
    font-size: 26.6666666667vw;
  }

  body {
    font-size: 0.28rem;
  }

  .container {
    min-width: 320px;
  }

  .md {
    display: none !important;
  }
}

.section-map .map-image {
  position: relative;
}

.section-map .link-common {
  display: block;
  position: absolute;
  background-color: rgba(204, 204, 204, 0.1);
}

@media print, (min-width: 768px) {
  .section-map .map-image {
    width: 1170px;
  }

  .section-map .link-common {
    width: 130px;
    height: 90px;
  }

  .section-map .link-01 {
    top: 227px;
    left: 412px;
  }

  .section-map .link-02 {
    top: 355px;
    left: 500px;
  }

  .section-map .link-03 {
    top: 517px;
    left: 388px;
  }

  .section-map .link-04 {
    top: 418px;
    left: 287px;
  }

  .section-map .map-image-common {
    width: 576px;
  }
}

@media only screen and (max-width: 767.98px) {
  .section-map .map-image {
    width: 11.7rem;
  }

  .section-map .link-common {
    width: 1.3rem;
    height: 0.9rem;
  }

  .section-map .link-01 {
    top: 2.27rem;
    left: 4.12rem;
  }

  .section-map .link-02 {
    top: 3.55rem;
    left: 5rem;
  }

  .section-map .link-03 {
    top: 5.17rem;
    left: 3.88rem;
  }

  .section-map .link-04 {
    top: 4.18rem;
    left: 2.87rem;
  }

  .section-map .map-image-common {
    width: 100%;
  }
}
