@charset "UTF-8";

.section-map .map-image {
  position: relative;
}

.section-map .link-common {
  display: block;
  position: absolute;
  background-color: rgba(204, 204, 204, 0.1);
}

.section-map .map-image {
  width: 1170px;
}

.section-map .link-common {
  width: 130px;
  height: 90px;
}

.section-map .link-01 {
  top: 227px;
  left: 412px;
}

.section-map .link-02 {
  top: 355px;
  left: 500px;
}

.section-map .link-03 {
  top: 517px;
  left: 388px;
}

.section-map .link-04 {
  top: 418px;
  left: 287px;
}

@media print, (min-width: 768px) {
  .section-map .map-image-common {
    width: 576px;
  }
}

@media only screen and (max-width: 767.98px) {
  .section-map .map-image-common {
    width: 100%;
    margin: 0;
  }
  
  .image-common {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
